{% extends "base_generic_s.html" %}


{% block title %}
АО «АзияАгроФуд» - крупнейший производитель и лидер в области производства комбикормов, кормовых добавок в Алматы, Казахстане.
{% endblock %}
{% block subtitle%}
Главная → О Компании 
{% endblock%}

{% block content %}
{% load static %}
{% load i18n %}

<section class="contact-page shareholder-page">
    <div class="page-conteiner-2">
    <h1>Акционерное общество «АзияАгроФуд»</h1>
    АО «АзияАгроФуд» - это современное развивающееся предприятие, техническое оснащение которого соответствует европейским стандартам. Основной деятельностью предприятия является глубокая переработка зерна пшеницы и кукурузы для выработки хлебопекарной муки, глюкозных сиропов и патоки, а также производство комбикормов.<br/>
    Предприятие имеет в своем составе крахмалопаточный завод, мукомольный и комбикормовый заводы и элеватор (емкостью 15 200 тонн зерна), зерносклады и зерносушилки.<br/>
    Все цеха и производства оснащены новейшим, высокопроизводительным оборудованием, произведенным в Германии, Швейцарии, Италии и США.<br/>
    <h1>Мощности производства</h1>
    На крахмалопаточном заводе внедрена в производство и действует современная технология по переработке кукурузы для выработки глюкозных-мальтозных сиропов. Предприятие вырабатывает патоку крахмальную высшего сорта с качественными показателями в соответствии с требованиями ГОСТ РК 33917-2016, а также ГОСТ Р 52060-2003. Производство является полностью безотходным и позволяет выпускать широкую линейку продукции: ферментативная патока, карамельно-кислотная, высокоосахаренная и низкоосахаренная патока, а также глютен, кукурузный зародыш, оболочки кукурузные, кукурузное масло. Крахмалопаточный завод производит в сутки до 200 тонн глюкозных-мальтозных сиропов и побочную продукцию.<br/>
    Патока крахмальная реализуется таким производителям кондитерской промышленности, как:  АО «Баян Сулу», ТОО «Хамле», АО «Рахат», ТОО «Алматинский продукт», ТОО «Рахат Шымкент», ТОО «Тараз Халвасы», ТОО «Sera KZ». Кроме того, патока реализуется не только на территории Республики Казахстан, но и экспортируется в РФ, Узбекистан, Кыргызстан, Туркменистан и Таджикистан.<br/>
    АО «АзияАгроФуд» является крупнейшим производителем и лидером в области производства комбикормов, кормовых добавок на базе собственного производственного комплекса. Компания производит корма по рецептурам ведущих европейских, российских и казахстанских научно-исследовательских организаций, с полным соблюдением санитарно-гигиенических и ветеринарных требований.  Объем производства комбикормов в сутки составляет 600 тонн. Линейка комбикормов включает в себя более 20 наименований. Выработка комбикормов производится также по рецептуре Заказчика и индивидуальным заказам. Мы применяем только высококачественное сырье для наших кормов.<br/>
    Технология и оборудование мельничного комбината позволяют переработать 400 тонн зерна пшеницы в сутки, вырабатывая при этом высококачественную муку высшего, первого и второго сорта, а также «Казахстанскую». Для животноводства области используются отруби пшеничные и зерновые отходы. На мелькомбинате установлена и эксплуатируется линия фортификации муки, где осуществляется обогащение муки витаминно-минеральными добавками.<br/>
    Контроль качества<br/>
    Две собственные производственно – технические лаборатории, оснащенные необходимым современным оборудованием, обеспечивают входной контроль качества поступающего сырья, контроль технологического процесса производства и контроль качества выпускаемой готовой продукции.<br/>
    <h1>Система качества</h1>
    На предприятии с 2006 г. внедрена и работает система менеджмента качества, которая соответствует требованиям МС ИСО 9001:2015.<br/>
    На предприятии внедрен и работает МС ИСО 22000:2018,   комбикормовое производство   работает в соответствии со стандартом  безопасности пищевой продукции FSSC v.5.1.<br/> 
    <h1>Социальная политика</h1>
    На предприятии существует гибкая система стимулирования труда сотрудников, а также оказывается благотворительная и спонсорская помощь.<br/> 
    В производственных цехах и структурных подразделениях АО «АзияАгроФуд» работают более 500 человек.<br/>
    <br/> <br/>
    <iframe width="100%" height="420px" src="https://www.youtube.com/embed/u9qzr8_cNrg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>
{% include "simple_footer.html" %}
{% endblock %}