{% extends "base_generic_s.html" %}


{% block title %}
АО «АзияАгроФуд» - крупнейший производитель и лидер в области производства комбикормов, кормовых добавок в Алматы, Казахстане.
{% endblock %}
{% block subtitle%}
Главная → Контакты 
{% endblock%}

{% block content %}
{% load static %}
<section class="contact-page">
    <div class="page-conteiner-2">
        <div class="directors-desc">
            <p class="desc-title gold-title"> Руководство компании </p>
            <div class="directors-photo-items">
                <div class="slide-card-g">
                    <div class="slide-img-block">
                        <img class="slide-logo" src="{% static 'css/img/ashenov_s.jpg' %}" alt="АО АзияАгроФуд" width="425" height="250">
                    </div>
                    <div class="slide-desc">
                        <div class="name-block">
                            <strong style="text-transform: uppercase;"> Ашенов Саян Баймұратұлы </strong>
                            <span class="desc-subtitle">Председатель правления </span>
                            <p>
                                Мы продолжаем демонстрировать высокие результаты в своей отрасли, и это заслуга каждого из нас. <br/><br/>
                                Однако, мы не должны забывать, что сейчас наш мир меняется быстрее, чем когда-либо раньше. Чтобы оставаться конкурентоспособными, нам нужно быть готовыми к изменениям и постоянно развиваться.<br/><br/>
                                Я хочу, чтобы мы сосредоточились на тех вещах, которые нас объединяют, и работали вместе, чтобы продвигать нашу компанию вперед. Давайте не бояться экспериментировать, искать новые возможности и рисковать, когда это необходимо.<br/><br/>
                                Я готов работать с каждым из вас, чтобы обеспечить нашу дальнейшую успешную работу.<br/><br/>
                            </p>
                        </div>
                    </div>                               
                </div>     
                <div class="slide-card-g">
                    <div class="slide-img-block">
                        <img class="slide-logo" src="{% static 'css/img/kaliev_b.jpg' %}" alt="Калиев Берик" width="425" height="250">
                    </div>
                    <div class="slide-desc">
                         <div class="name-block">
                            <strong style="text-transform: uppercase;"> Калиев Берикбек Маратович </strong>
                            <span class="desc-subtitle">Коммерческий Директор </span>
                            <p>
                                Мы должны продолжать работать на полную мощность и развивать наш бизнес, чтобы сохранять свои позиции на рынке и достигать новых вершин.<br/><br/>
                                Я также хочу обратить ваше внимание на то, что наш успех не только в числах продаж, но и в том, как мы достигли этих результатов. Мы придерживались высоких стандартов этики и профессионализма во всех наших деловых отношениях, и это было ключевым фактором нашего успеха.<br/>
                            </p>
                        </div>         
                    </div>        
                </div>
				<div class="slide-card-g">
                    <div class="slide-img-block">
                        <img class="slide-logo" src="{% static 'css/img/halikova_e.jpeg' %}" alt="Халикова Екатерина" width="425" height="250">
                    </div>
                    <div class="slide-desc">
                        <div class="name-block">
                            <strong style="text-transform: uppercase;"> Халикова Екатерина Владимировна </strong>
                            <span class="desc-subtitle">Директор по Маркетингу</span>
                            <p>
                                Наша команда состоит из высококвалифицированных специалистов, которые владеют самыми передовыми технологиями и стратегиями маркетинга. Мы постоянно отслеживаем изменения в индустрии и адаптируемся к новым трендам, чтобы гарантировать, чтобы наша компания остается на переднем плане.<br/><br/>
                                Мы предлагаем индивидуальный подход к каждому клиенту. Мы тщательно анализируем рынок и конкурентов, чтобы разработать наиболее эффективную маркетинговую стратегию.<br/><br/>
                                Мы с нетерпением ждем возможности работать с Вами чтобы помочь Вашей компании расти и процветать! <br/>
                            </p>
                        </div>   
                    </div>        
                </div> 
                <div class="slide-card-g">
                    <div class="slide-img-block">
                        <img class="slide-logo" src="{% static 'css/img/dyusickeshova_a.jpeg' %}" alt="Дюсекешова Асем" width="425" height="250">
                    </div>
                    <div class="slide-desc">
                        <div class="name-block">
                            <strong style="text-transform: uppercase;"> Дюсекешова Асем Сапаргалиевна</strong>
                            <span class="desc-subtitle">Главный Бухгалтер</span>
                            <p>
                                Наша команда профессионалов работает на благо нашей компании, обеспечивая точный и своевременный учет всех финансовых операций.<br/><br/>
                                Наша работа - это не только составление финансовых отчетов, но и разработка стратегий для оптимизации финансовых процессов и контроля за расходами. Мы стараемся обеспечить своевременную оплату счетов, ведем бухгалтерский учет, управляем налоговыми платежами и отчитываемся перед государственными органами.<br/><br/>
                                Мы тщательно следим за изменениями в законодательстве и принимаем необходимые меры для соблюдения требований. Кроме того, мы работаем в тесном сотрудничестве с другими отделами нашей компании, чтобы гарантировать точность финансовых данных и помогать с принятием стратегических решений.<br/>
                            </p>
                        </div>            
                    </div>        
                </div>              
            </div>
        </div>
    </div>
	<div class="page-conteiner-2">
        <div class="directors-desc">
            <p class="desc-title gold-title"> Наши сотрудники </p>
            <swiper-container class="manager-pack" pagination="true" pagination-clickable="true" slides-per-view="2" free-mode="true" space-between="10">
                <swiper-slide>
                    <div class="slide-card-g">
                        <div class="slide-img-block">
                            <img class="slide-logo" src="/static/css/img/GasanovaDaniya.jpg" alt="Гасанова Дания" width="425" height="250">
                        </div>
                        <div class="slide-desc">
                            <strong style="text-transform: uppercase;"> Гасанова Дания Раифовна </strong>
                            <p class="desc-subtitle">
                                Специалист по продажам <br> <br>
                                +7 (727) 321-00-22 вн. 2114 <br>
                                gasanova.d@aaf.kz
                            </p>           
                        </div>       
                    </div>
                    <div class="slide-card-g">
                        <div class="slide-img-block">
                            <img class="slide-logo" src="/static/css/img/ArefievPetr.jpg" alt="Арефьев Петр" width="425" height="250">
                        </div>
                        <div class="slide-desc">
                            <strong style="text-transform: uppercase;"> Арефьев Петр Васильевич	</strong>
                            <p class="desc-subtitle">
                                Начальник отдела сбыта<br> <br>
                                +7 (727) 321-00-22 вн. 2110 <br>
                                arefev.p@aaf.kz
                            </p>           
                        </div>   
                    </div>     
                </swiper-slide>
                <swiper-slide>
                    <div class="slide-card-g">
                        <div class="slide-img-block">
                            <img class="slide-logo" src="/static/css/img/AbdurahmanovMurat.jpg" alt="Саменов Мурат Сапаевич" width="425" height="250">
                        </div>
                        <div class="slide-desc">
                            <strong style="text-transform: uppercase;"> Саменов Мурат Сапаевич</strong>
                            <p class="desc-subtitle">
                                Специалист по продажам <br> <br>
                                +7 (727) 321-00-22 вн. 2113 <br>
                                samenov.m@aaf.kz
                            </p>           
                        </div>        
                    </div>
                    <div class="slide-card-g">
                        <div class="slide-img-block">
                            <img class="slide-logo" src="/static/css/img/Batyrbekov D..png" alt="Батырбеков Дархан" width="425" height="250">
                        </div>
                        <div class="slide-desc">
                            <strong style="text-transform: uppercase;"> Батырбеков Дархан Айтпекович </strong>
                            <p class="desc-subtitle">
                                Начальник технического отдела <br> <br>
                                +7 (727) 321-00-22 вн. 2100 <br>
                                batyrbekov.d@aaf.kz
                            </p>           
                        </div>       
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="slide-card-g">
                        <div class="slide-img-block">
                            <img class="slide-logo" src="/static/css/img/Zelgabidenov D.png" alt="Зейлғабиден Дидар" width="425" height="250">
                        </div>
                        <div class="slide-desc">
                            <strong style="text-transform: uppercase;"> Зейлғабиден Дидар Мурсалұлы	</strong>
                            <p class="desc-subtitle">
                                Инженер технического отдела<br> <br>
                                +7 (727) 321-00-22 вн. 2103 <br>
                                zeilgabiden.d@aaf.kz
                            </p>           
                        </div>        
                    </div>
                    <div class="slide-card-g">
                        <div class="slide-img-block">
                            <img class="slide-logo" src="/static/css/img/Begimbetov R.png" alt="Бегимбетов Рүстем Талғатұлы" width="425" height="250">
                        </div>
                        <div class="slide-desc">
                            <strong style="text-transform: uppercase;"> Бегимбетов Рүстем Талғатұлы</strong>
                            <p class="desc-subtitle">
                                Инженер технического отдела <br> <br>
                                +7 (727) 321-00-22 вн. 2102 <br>
                                begimbetov.r@aaf.kz
                            </p>           
                        </div>        
                    </div>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
	<div>
		<section class="page-n4">
            <div class="page-conteiner-3">
                <div class="box-conteiner">
                    <div class="contacts_block">
                        <div class="box-conteiner">
                            <div class="contacts_panel">
                                <div class="contacts_cell">
                                    <strong style="font-size: 24px;" class="desc-subtitle"> Контакты </strong>
                                    <p> <a href="tel:+7 (727) 321 00 22"><span class="col--phone"></span>  +7 (727) 321-00-22</a></p>
                                    <p> <a href="mailto:aaf@aaf.kz"><span class="col--email"></span>  aaf@aaf.kz</a></p>
                                </div>
                            </div>
                            <div class="contacts_panel">
                                <div class="contacts_cell">
                                    <strong style="font-size: 24px;" class="desc-subtitle"> График работы: </strong>
                                    <p> Пн‑Пт: 9:00-18:00 </p>
                                    <p> Сб‑Вс: выходной </p>
                                </div>
                            </div>
                        </div>
                        <div class="contacts_panel">
                            <div class="contacts_cell">
                                <br>
                                <strong style="font-size: 24px;" class="desc-subtitle"> Адрес </strong>
                                <p> <a href="//goo.gl/maps/M2t9eAZKzzfAQprV9" target="_blank"> <span class="col--location"></span>  Республика Казахстан, Карасайский район, Алматинская область, с. Жибек Жолы, ул. Суюнбая, 1 </a> </p>
                            </div>
                        </div>
                        <br>
                        <strong style="font-size: 24px;"> Связаться с нами </strong> <br>
                            <div class="contacts_block">
                                <form class="contact-form" method="post">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="oLCWHQTrY3mXeteMmKjOyHknw2lyl0RptwZ1DaqSNyHym2dsxPiJrjCYlf4EGXof">
                                    <div>
                                        <input id="name_user" type="text" name="name_user" value="" placeholder="Имя" aria-label="Имя" required="">
                                    </div>
                                    <div>
                                        <input id="phone_user" type="text" name="phone_user" value="" placeholder="Номер телефона" aria-label="УкНомер телефона" required="">
                                    </div>
                                    <div>
                                        <textarea id="message_user" type="text" name="message_user" value="" placeholder="Сообщение" aria-label="Сообщение" required=""></textarea>
                                    </div>
                                    <div class="button-block">
                                        {{ form_contact.captcha }}
                                        <input type="submit" value="Отправить" class="btn-blue" name="contact">
                                    </div>
                                </form>
                            </div>
                    </div>
                    <div class="map">
                        <iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;um=constructor%3A82ff7c8c2a81a4b64689ddf51f4f3a60347013aa36ba37a179f8ece2ceaed241" allowfullscreen="true" style="display: block;" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                </div>
            </div> 
        </section>
	</div>
</section>
{% endblock %}