{% extends "base_generic_s.html" %}


{% block title %}
АО «АзияАгроФуд» - крупнейший производитель и лидер в области производства комбикормов, кормовых добавок в Алматы, Казахстане.
{% endblock %}
{% block subtitle%}
Главная → О Компании 
{% endblock%}

{% block content %}
{% load static %}
{% load i18n %}

<section class="wrapper-txt indent-top-md history-page">
    <div class="container">
        <h1 class="txt-size-bg txt-font-light clear-margin align-center-h">АО «АзияАгроФуд» <br/> История </h1> <br/>
        <div class="flex-row align-center-v card-history">
            <img class="circle-img" src="{% static 'css/img/history/old_aaf.png' %}" alt="АО АзияАгроФуд">
            <div class="indent-md align-justify">
                <h2 class="txt-font-bold align-center-h txt-line"> <span> 1996 г. - 1999 г. </span> </h2>
                В 1996 году была начата разработка проекта по установке в здании комбикормового завода Шамалганского комбината хлебопродуктов оборудования ведущей машиностроительной компании мира «Бюллер», по производству муки разных сортов, производительностью 250 тонн переработки зерна пшеницы в сутки.
                Мельзавод был введен в эксплуатацию в декабре 1999 года.
            </div>
        </div>
        
        <div class="flex-row-revers align-center-v card-history">
            <img class="circle-img" src="{% static 'css/img/history/slide_3.jpg' %}" alt="АО АзияАгроФуд">
            <div class="indent-md align-justify">
                <h2 class="txt-font-bold align-center-h txt-line"> 1999 г. - 2003 г.</h2>
                С целью реализации Республиканской программы импортозамещения и диверсификации производства, в 2001 году был разработан проект “Строительство завода по глубокой переработке кукурузы на крахмал и глюкозные сиропы» мощностью 100 тонн переработки зерна кукурузы в сутки. 
                В 2003 г. был введен в эксплуатацию крахмалопаточный комбинат, оснащенный оборудованием ведущих машиностроительных компаний мира: США, Германии, Италии. Проектом предусмотрено внедрение новейших технологий по производству крахмала, патоки и глюкозных сиропов. Комбинат производит глубокую переработку зерна кукурузы, выращенной сельхозпроизводителями Алматинской области.
            </div>
        </div>

        <div class="flex-row align-center-v card-history">
            <img class="circle-img" src="{% static 'css/img/history/slide_2.jpg' %}" alt="АО АзияАгроФуд">
            <div class="indent-md align-justify">
                <h2 class="txt-font-bold align-center-h txt-line"> 2003 г. - 2007 г.</h2>
                В 2007 г. производительность мукомольного завода была увеличена за счет дополнительной установки оборудования фирмы «Бюллер»   производительностью переработки зерна 150 тонн/сутки.
                Также создана инфраструктура комплекса – это очистные сооружения производственной мощностью 200 м3/сутки, котельная мощностью до 20 тонн пара в час, градирня – 600 м3 в сутки, скважина, насосная станция.
            </div>
        </div>
        
        <div class="flex-row-revers align-center-v card-history">
            <img class="circle-img" src="{% static 'css/img/history/slide_4.jpg' %}" alt="АО АзияАгроФуд">
            <div class="indent-md align-justify">
                <h2 class="txt-font-bold align-center-h txt-line"> 2007 г. - 2010 г.</h2>
                В настоящее время, после проведенных в 2007-2008 годах реконструкций предприятия, крахмало-паточный комплекс вырабатывает более - 200 тонн высококачественной патоки в сутки. Кроме основной продукции комплексом вырабатывается до 10 тонн в сутки кормов для животных, основными потребителями которых являются животноводческие фермы и птицефабрики Алматинской области.
                В 2010 году ТОО «АзияАгроФуд» реорганизовано в АО «АзияАгроФуд».
            </div>
        </div>

        <div class="flex-row align-center-v card-history">
            <img class="circle-img" src="{% static 'css/img/history/slide_1.jpg' %}" alt="АО АзияАгроФуд">
            <div class="indent-md align-justify">
                <h2 class="txt-font-bold align-center-h txt-line"> 2010 г. - По Сегодня</h2>
                В 2016 году на предприятии введен в эксплуатацию комбикормовый завод производственной мощностью рассыпных комбикормов – 600 т/сутки или гранулированных – 200 тонн в сутки.
                АО «АзияАгроФуд» постоянно совершенствует производство и разрабатывает  программу для обеспечения выработки новых, конкурентоспособных видов готовой продукции, а также для увеличения общих объемов производства.
            </div>
        </div>    
    </div>
</section>

{% include "simple_footer.html" %}

{% endblock %}