{% load i18n %}

<section class="page-n4 page-to-10">
    <div class="page-conteiner-3">
        <div class="box-conteiner">
            <div class="contacts_block">
                <div class="box-conteiner">
                    <div class="contacts_panel">
                        <div class="contacts_cell">
                            <strong style="font-size: 24px;" class="desc-subtitle"> {% trans 'Контакты' %} </strong>
                            <p> <a href="tel:+7 (727) 321 00 22"><span class="col--phone"></span>  +7 (727) 321-00-22</a></p>
                            <p> <a href="mailto:aaf@aaf.kz"><span class="col--email"></span>  aaf@aaf.kz</a></p>
                        </div>
                    </div>
                    <div class="contacts_panel">
                        <div class="contacts_cell">
                            <strong style="font-size: 24px;" class="desc-subtitle"> {% trans 'График работы:' %} </strong>
                            <p> {% trans 'Пн‑Пт:' %} 9:00-18:00 </p>
                            <p> {% trans 'Сб‑Вс: выходной' %} </p>
                        </div>
                    </div>
                </div>
                <div class="contacts_panel">
                    <div class="contacts_cell">
                        <br>
                        <strong style="font-size: 24px;" class="desc-subtitle"> {% trans 'Адрес'%} </strong>
                        <p> <a href="//goo.gl/maps/M2t9eAZKzzfAQprV9" target="_blank"> <span class="col--location"></span>  {% trans 'Республика Казахстан, Карасайский район, Алматинская область, с. Жибек Жолы, ул. Суюнбая, 1' %} </a> </p>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;um=constructor%3A82ff7c8c2a81a4b64689ddf51f4f3a60347013aa36ba37a179f8ece2ceaed241" allowfullscreen="true" style="display: block;" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div> 
</section>