{% load static %}
<section class="container group-page flex-column align-justify">
    <div class="txt-size clear-padding-top txt-font-light">
        <div class="flex content-center">
            <img draggable="false" class="indent-bottom-md" src="/static/css/img/logo_groups/logo_bio.png" width="300px" height="240px" alt="Логотип КФП"/>
        </div>
        <span class="txt-font-bold txt-size-md"> ТОО «BioOperations» </span> — единственное предприятие в Республике Казахстан, занимающееся производством биоэтанола и глубокой переработкой пшеницы. Завод расположен в г. Тайынша Северо-Казахстанской области и является крупнейшим предприятием в регионе.<br/><br/>
        <ul class="flex-column block-list block-list-mobile-txt txt-size clear-margin clear-padding-left">
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>Предприятие оснащено оборудованием европейского производства, которое дает возможность выпускать продукцию с наилучшими качественными показателями.
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>Мощность переработки зерна пшеницы составляет более 200 тысяч тонн зерна в год. 
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>Замкнутый цикл производства позволяет контролировать качество продукции на всех этапах - от поступления исходного сырья до стадии упаковки и хранения готового продукта на собственном складе, оснащенном оборудованием для контроля влажности и температуры воздуха.
            В линейку продукции предприятия входят: биоэтанол, пшеничный крахмал, пшеничный глютен, корма DDGS, диоксид углерода.</li>
        </ul>
        <br/>
        <span class="txt-font-bold txt-size"> Экспорт продукции </span><br/><br/>
        Завод расположен в зерновом регионе страны и доступность сырьевой базы является его основным преимуществом. Наличие собственных подъездных путей позволяет в оптимальные сроки осуществлять приемку сырья и отгрузку готовой продукции автомобильным и железнодорожным транспортом. Кроме того, налаженная работа с портами Черного, Средиземного и Балтийского морей и крупными морскими линиями, дает возможность экспортировать продукцию практически во все страны мира. Также одним из логистических преимуществ предприятия для выхода на рынки Восточной Азии является логистическая доступность к портам Китая. <br/><br/>
        Основные экспортные направления по глютену и крахмалу: Турция, Индия, США, Колумбия, Норвегия, Малайзия, Тайвань, а также страны СНГ и Европейского Союза. Биоэтанол экспортируется в страны Европейского союза.<br/><br/>
        Продукция ТОО «BioOperations» сертифицирована по международным стандартам FSSC 22000 Bureau Veritas, ISCC Europe (Waste Starch Slurry), FDA Certification USA, Halal & Kosher. <br/>
        <br/> <br/>
        <a href="{% static 'css/files/Cert_bio.pdf' %}" target="_blank" *download="policy" *=""  class="txt-size-md color-txt-gray" style="text-decoration: none;"><span class="col--pdf"></span> Посмотреть сертификат</a>
    </div> 
    <div class="txt-font-light indent-in-sm indent-top-md frame-box-gray">
        <span class="txt-size txt-font-bold"> Контакты BioOperations </span> <br/><br/>
        <ul class="flex-column block-list block-list-mobile-txt txt-size clear-margin clear-padding-left">
            <li><a href="tel:+7 715 367 90 25"><span class="col--phone indent"></span>+7 (715) 367-90-25</a>
            <li><a href="mailto:info@biooperations.kz"><span class="col--email indent"></span>info@biooperations.kz</a>
            <li><a href="//biooperations.com"><span class="col--globe indent"></span>biooperations.com</a>
            <li><a href="//yandex.kz/maps/-/CCUKA2XYOB" target="_blank"> <span class="col--location indent"></span>151041, Северо-Казахстанская обл. Тайыншинский р-он, с Чермошнянка, промышленная зона Чермошнянка, зд. 1</a></li>
        </ul>
    </div>
</section>