{% load static %}
<section class="container group-page flex-column align-justify">
    <div class="txt-size clear-padding-top txt-font-light">
        <div class="flex content-center">
            <img draggable="false" class="indent-bottom-md" src="/static/css/img/logo_groups/bys.png" alt="Логотип Bys"/>
        </div>
        <span class="txt-font-bold txt-size-md"> АО «Баян Сулу» </span> — является одним из крупнейших предприятий Республики Казахстан по производству кондитерских сахарных и мучных изделий. Фабрика основана в декабре 1974 года как Костанайская кондитерская фабрика и преобразована в АО «Баян Сулу» в сентябре 1993 года. <br/><br/>
        <div>
            <video width="100%" height="100%" class="frame-box-gray clear-padding-top" src="https://api.kfp.kz/storage/companies/video/JLEywp1azExwdhxIeBvEaCvKKCH4nd-metaVW50aXRsZWQubXA0-.mp4" controls></video>
        </div>
        <ul class="flex-column block-list block-list-mobile-txt txt-size clear-margin clear-padding-left">
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>Фабрика является вторым по величине производителем кондитерских изделий в Казахстане с ассортиментом продукции более 300 наименований.
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>На предприятии работают около 1 500 сотрудников.
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>Фабрика производит более 85 000 тонн продукции в год. К числу торговых марок, наиболее известных на территории Республики Казахстан, относятся: «Казахстанский», «Арахисовый аромат», «Самал», «Бота», «Fruit», «Матис», «BS», «Птичье молоко», «Қазақстан» и многие другие. Около 40% объемов производства ежегодно отправляется на экспорт.</li>
        </ul>
        </br> <br/>
        <span class="txt-font-bold txt-size"> Высокая деловая репутация, международное сотрудничество и качество продукции </span><br/><br/>
        Акции АО «Баян Сулу» включены во вторую категорию сектора акций официального списка АО «Казахстанская фондовая биржа». Благодаря безупречной кредитной истории и прозрачности деятельности предприятие имеет прочные партнёрские отношения с крупными товаропроизводителями и поставщиками из Германии, Польши, Украины, Нидерландов, Дании, России, Беларуси, Финляндии, Латвии, Литвы, Израиля и т.д. <br/><br/>
        Продукция фабрики участвует в различных международных и отечественных выставках и конкурсах. Торговые марки фабрики имеют следующие награды: «Лучшее предприятие, выпускающее товары для населения» («Алтын сапа»), «Лидер качества» («Национальный центр экспертизы и сертификации»), «Лучший продукт» (в рамках выставки «Продэкспо»), «Лучший продукт» (в рамках выставки «WorldFood Moscow») и многие другие. <br/><br/>
        При производстве продукции строго соблюдаются все нормативы и ГОСТы РК и ЕврАзЭС. В 2006 году внедрена Система менеджмента качества в соответствии с требованием международного стандарта ISO 9001:2000. В 2015 году проведён сертификационный аудит Системы менеджмента качества в соответствии с требованиями государственного стандарта СТ РК ИСО 9001-2009 (ISO 9001:2008). Внедрена Система менеджмента безопасности пищевой продукции в соответствии с требованиями государственного стандарта СТ РК ИСО 22000-2006 (ISO 22000:2005). Внедрена Система энергоменеджмента в соответствии с требованиями государственного стандарта СТ РК ИСО 50001-2012 (ISO 50001:2011). <br/>
        <br/> <br/>
        <a href="{% static 'css/files/Cert_bys.pdf' %}" target="_blank" *download="policy" *=""  class="txt-size-md color-txt-gray" style="text-decoration: none;"><span class="col--pdf"></span> Посмотреть сертификат</a>
    </div> 
    <div class="txt-font-light indent-in-sm indent-top-md frame-box-gray">
        <span class="txt-size txt-font-bold"> Контакты АО «Баян Сулу» </span> <br/><br/>
        <ul class="flex-column block-list block-list-mobile-txt txt-size clear-margin clear-padding-left">
            <li><a href="tel:+7 714 256 29 52"><span class="col--phone indent"></span>+7 (714) 256-29-52</a>
            <li><a href="mailto:bayansulu@bayansulu.kz"><span class="col--email indent"></span>bayansulu@bayansulu.kz</a>
            <li><a href="//bayansulu.kz"><span class="col--globe indent"></span>bayansulu.kz</a>
            <li><a href="//yandex.kz/maps/-/CCUKEUW79D" target="_blank"> <span class="col--location indent"></span>110000, г. Костанай, ул. Бородина, 198</a></li>
        </ul>
    </div>
</section>