{% load static %}
<section class="container group-page flex-column align-justify">
    <div class="txt-size clear-padding-top txt-font-light">
        <div class="flex content-center">
            <img draggable="false" class="indent-bottom-md" src="/static/css/img/logo_groups/logo_emc.jpg" width="300px" height="240px" alt="Логотип КФП"/>
        </div>
        <span class="txt-font-bold txt-size-md"> EMC Agro </span> — современное предприятие по производству и переработке мяса и мясопродуктов, расположенное в г. Тайынша Северо-Казахстанской области. Компания ориентирована на производство и поставку высококачественной, экологически чистой продукции для конечного потребителя и полного охвата спроса на мясном рынке страны. <br/><br/>
        <ul class="flex-column block-list block-list-mobile-txt txt-size clear-margin clear-padding-left">
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>На базе мясокомбината имеется современная животноводческая ферма с немецким оборудованием (Big Dutchman) для комфортного и безопасного содержания животных
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>Производственные мощности мясокомбината позволяют вырабатывать 20 000 тонн мяса в год и 30 тонн в сутки готовой продукции.
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>Благодаря работе предприятия в Тайыншинском районе Северо-Казахстанской области создаются новые рабочие места.  Штат сотрудников составляет 420 человек.</li>
        </ul>
        </br>
        В 2020 году ТОО «EMC Agro» получил международный сертификат качества FSSC -22000. <br/><br/>
        <br/>
        <span class="txt-font-bold txt-size"> Ассортимент продукции и рынки сбыта </span><br/><br/>
        На «EMC Agro» производится большой ассортимент колбасных изделий: полукопченые, вареные, ливерные колбасы, сосиски, сардельки, а также разнообразный выбор мясных деликатесов: карбонад, шейка, запеченные рулеты, грудинки, рульки, полуфабрикаты. Продукция представлена торговой маркой Lecker.  <br/><br/>
        В ноябре 2022 года продукция Тайыншинского мясокомбината под торговой маркой Lecker стала победителем в номинации «Лучший продукт» на Центрально-Азиатской международной выставке FoodExpo Qazaqstan пищевая промышленность. Шесть изделий награждены Золотыми медалями, что говорит о высоком качестве производимой продукции. <br/><br/>
        Мясокомбинат имеет большой рынок сбыта мяса, фарша, колбасных изделий и мясных деликатесов по всей территории Казахстана, также продукцию намечается отправлять на экспорт в ближнее и дальнее зарубежье.  <br/>
        <br/> <br/>
        <a href="{% static 'css/files/cert_emc.pdf' %}" target="_blank" *download="policy" *=""  class="txt-size-md color-txt-gray" style="text-decoration: none;"><span class="col--pdf"></span> Посмотреть сертификат</a>
    </div> 
    <div class="txt-font-light indent-in-sm indent-top-md frame-box-gray">
        <span class="txt-size txt-font-bold"> Контакты EMC Agro </span> <br/><br/>
        <ul class="flex-column block-list block-list-mobile-txt txt-size clear-margin clear-padding-left">
            <li><a href="tel:+7 715 366 14 93"><span class="col--phone indent"></span>+7 (715) 366-14-93</a>
            <li><a href="mailto:priemnaya.tooemcagro@mail.ru"><span class="col--email indent"></span>priemnaya.tooemcagro@mail.ru</a>
            <li><a href="//yandex.kz/maps/-/CCUKEMXhcB" target="_blank"> <span class="col--location indent"></span>151000, Северо-Казахстанская обл. Тайыншинский р-он, с Чермошнянка, промышленная зона Чермошнянка, зд. 1</a></li>
        </ul>
    </div>
</section>