<section class="container group-page flex-column align-justify">
    <div class="txt-size clear-padding-top txt-font-light">
        <img draggable="false" class="indent-bottom-md" src="/static/css/img/logo_groups/logo_kfp.svg" width="100%" height="240px" alt="Логотип КФП"/>
        <span class="txt-font-bold txt-size-md"> KazFoodProducts </span> —  вертикально интегрированный холдинг, успешно осуществляющий на протяжении последних 26 лет деятельность в сфере агробизнеса - от выращивания зерновых культур, разведения сельскохозяйственных животных до выработки и реализации высококачественной готовой экспортно ориентированной продукции.<br/><br/>
        <span class="txt-size-sm txt-font-bold color-txt-gray">
            “Одной из главных целей компании является создание продуктов высокого качества, соответствующих международным стандартам. Компания заботится о качестве сырья и строго контролирует весь производственный процесс„ <br/><br/>
        </span>
        Компания работает как на внутреннем, так и на международном рынке. Ее продукция экспортируется в страны СНГ, Китай, Корею, Европу, США и другие страны. Так же имеет несколько производственных площадок в Казахстане, а также современный логистический центр в Алматы.
        Организация уделяет особое внимание экологической безопасности своей продукции и проводит систематические проверки на соответствие международным стандартам. Компания также активно сотрудничает с местными фермерами и производителями, чтобы поддерживать высокое качество своего сырья. <br/>
    </div> 
    <div class="txt-font-light indent-in-sm indent-top-md frame-box-gray">
        <span class="txt-size txt-font-bold"> Контакты KazFoodProducts </span> <br/><br/>
        <ul class="flex-row block-list block-list-mobile-txt txt-size clear-margin clear-padding-left">
            <li><a href="tel:+7 (727) 321 00 11"><span class="col--phone indent"></span>+7 (727) 321-00-11</a>
            <li><a href="mailto:info@kfp.kz"><span class="col--email indent"></span>info@kfp.kz</a>
            <li><a href="//kfp.kz"><span class="col--globe indent"></span>kfp.kz</a>
            <li><a href="//yandex.kz/maps/-/CCUKATTDWB" target="_blank"> <span class="col--location indent"></span>050051, г. Алматы, р-он Медеуский, проспект Достык 132, н.п. 75</a></li>
        </ul>
    </div>
</section>