{% load static %}
<section class="container group-page flex-column align-justify">
    <div class="txt-size clear-padding-top txt-font-light">
        <img draggable="false" class="indent-bottom-md" src="/static/css/img/logo_groups/logo_koktal.svg" width="100%" height="400px" alt="Логотип Koktal"/>
        <span class="txt-font-bold txt-size-md"> ТОО «Коктал Агро»  </span> — работает в секторе молочного животноводства в Жетысуской области, имеет необходимую производственную и техническую базу, большой потенциал квалифицированных инженерно-технических работников, материальные и трудовые ресурсы. <br/><br/>
        <ul class="flex-column block-list block-list-mobile-txt txt-size clear-margin clear-padding-left">
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>Компания использует более 1 200 гектар орошаемых земель для выращивания кормовых культур.
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>Поголовье продуктивного скота (дойное стадо) насчитывает 1 000 голов. Суточный удой коров составляет 25 тонн высококачественного молока.
            <li class="txt-size-sm"><span class="color-txt-gray txt-font-bold">— </span>В компании трудятся 120 человек.</li>
        </ul>
        </br> 
        Внедрена система капельного орошения на 300 гектар и дождевальные машины кругового действия на 200 гектар. <br/><br/>
        В 2019 году началась реализация проекта по запуску молочно-товарной фермы мощностью 1150 мест для фуражных коров. <br/><br/>
        Способ содержания скота молочных пород - беспривязный. Для доения коров установлено оборудование доильного зала типа «Карусель» на 36 мест. <br/><br/>
        В 2019-2022 годах из Австрии завезено 635 голов нетелей симментальской и швицкой пород. <br/><br/> 
        Компанией планируется создание семеноводческого хозяйства по производству семян кукурузы. <br/>
    </div> 
    <div class="txt-font-light indent-in-sm indent-top-md frame-box-gray">
        <span class="txt-size txt-font-bold"> Контакты Коктал-Агро </span> <br/><br/>
        <ul class="flex-column block-list block-list-mobile-txt txt-size clear-margin clear-padding-left">
            <li><a href="tel:+7 705 927 50 44"><span class="col--phone indent"></span>+7 (705) 927-50-44</a>
            <li><a href="mailto:koktal-agro@mail.ru"><span class="col--email indent"></span>koktal-agro@mail.ru</a>
            <li><a href="//goo.gl/maps/yb5Y2S9zxBY3Z3fC9" target="_blank"> <span class="col--location indent"></span>041316, Жетысуская область, Панфиловский район, с. Kоктал, ул. Розыбакиева, д. 2/1</a></li>
        </ul>
    </div>
</section>