{% extends "base_generic.html" %}

{% block subtitle %}
// Распоряжения
{% endblock %}

{% block content %}

    <!-- SubMenu -->
  <div class="navbar navbar-light bg-light border shadow-sm mb-2">

    <div>
      <div class="btn-group mr-2">
        {% if perms.core.add_order %}

            <button type="button" class="modal-form btn btn-primary" 
                    data-form-url="{% url 'company_create' %}" name="button">
                        Добавить Компанию
            </button>

        {% endif %}
      </div>
    </div>

  </div>

  {% include "core/form/modal_form.html" %}

  <h3 class="text-justify">Список компаний</h3>
  <br/>

  {% if company %} <!-- Table-->
      {% include "core/company/company_table.html" %}
  {% else %}
    <p>Список компаний пуст</p>
  {% endif %}  

{% endblock %}