{% load tags %}


<!-- The Antuor to that document-->
<div class="d-flex justify-content-between p-2 mb-2"> 
    <div> 
        <strong> Статус распоряжения - </strong> 
        <strong class='text-primary'> {{ orders_detail.get_status_display }} </strong>
    </div>
</div>

{% if orders_detail.date_allow or orders_detail.date_finish %}
<div class="d-flex justify-content-between p-2 mb-2"> 
    {% if orders_detail.date_allow %} 
        <div> <medium class="text-muted">
            Дата согласования:   {{ orders_detail.date_allow }} 
        </div> </medium> 
    {% endif %}

    {% if orders_detail.date_finish %} 
        <div> <medium class="text-muted"> 
            Дата исполнения:  {{ orders_detail.date_finish }} 
        </div> </medium> 
    {% endif %}
</div>
{% endif %}
<!-- The Antuor to that document-->

<!-- The controlling people-->
<!-- BOSS BEGIN -->
<div class="pl-1 pb-1"> <strong> Утверждают: </strong> </div>

{% if orders_detail.controlling.all %}
  {% for controlling in orders_detail.controlling.all %} 
      {% if controlling|has_group:'BOSS' or controlling|has_group:'CommercialDir'%}
      <div class="d-flex justify-content-between pl-1 pb-2">
        <div> {{controlling.userprofile.user_position}}</div>
        <div class="d-flex justify-content-between">
          {{ controlling.last_name }} {{ controlling.first_name.0 }}. - &nbsp;
          <div>
          <strong class="text-primary">{{controlling.userprofile.user_in_working}} </strong> <!-- in working for boss -->
          {% for time_execution in orders_detail.order_execution_user_time_by.all %}
            {% if time_execution.user == controlling %}
              <div>
                <strong>Ознакомлен(а): </strong> {{ time_execution.time_got_order }}
              </div>
            {% endif %}  
          {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

    {% for controlling in orders_detail.controlling_allow.all %} 
      {% if controlling|has_group:'BOSS' or controlling|has_group:'CommercialDir' %}
        <div class="d-flex justify-content-between p-1 pb-2">

        <div> {{controlling.userprofile.user_position}}</div>
        <div class="d-flex justify-content-between">
        {{ controlling.last_name }} {{ controlling.first_name.0 }}. - &nbsp;
        <div>
        <strong class='text-primary'>{{controlling.userprofile.user_accept}} </strong>  <!-- accept for boss -->
          {% for time_execution in orders_detail.order_execution_user_time_by.all %}
            {% if time_execution.user == controlling %}
              {% if time_execution.time %} {{ time_execution.time }} {% endif %}
              <div>
              <strong> Ознакомлен(а): </strong>{{ time_execution.time_got_order }}
              </div>
            {% endif %} 
          {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}

  {% for controlling in orders_detail.controlling_disallow.all %}
      {% if controlling|has_group:'BOSS' or controlling|has_group:'CommercialDir' %}
        <div class="d-flex justify-content-between pl-1 pb-2">
          <div> {{controlling.userprofile.user_position}}</div>
          <div class="d-flex justify-content-between">
            {{ controlling.last_name }} {{ controlling.first_name.0 }}. - &nbsp;
            <div>
            <strong class='text-primary'> {{controlling.userprofile.user_disaccept}} </strong> <!-- disaccept -->
              {% for time_execution in orders_detail.order_execution_user_time_by.all %}
                {% if time_execution.user == controlling %}
                  {% if time_execution.time %} {{ time_execution.time }} {% endif %}
                    <div>
                      <strong>Ознакомлен(а): </strong> {{ time_execution.time_got_order }}
                    </div>
                  {% endif %}  
                {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
  {% endfor %}

<!-- BOSS END -->
<!-- USER BEGIN -->
<div class="pl-1 pb-1"> <strong> Распоряжение получено: </strong> </div>

{% if orders_detail.controlling.all %}
  {% for controlling in orders_detail.controlling.all %} 
      {% if not controlling|has_group:'BOSS' and not controlling|has_group:'CommercialDir' %}
        <div class="d-flex justify-content-between pl-1 pb-2">


        <div>

          {% if perms.core.sign_order_manager and orders_detail.status == 'j' %}
            <button type="button" class="btn btn-primary remove_on_print" onclick="location.href=' {% url 'allow_order_manager' orders_detail.pk %}?user_id={{controlling.id}}'; "> Готово </button> 
          {% endif %}

          {{controlling.userprofile.user_position}}
        </div>

        <div class="d-flex justify-content-between">
            {% if orders_detail.status == 'w' or orders_detail.status == 'p' %}
                {{ controlling.last_name }} {{ controlling.first_name.0 }}. - &nbsp;<strong class='text-primary'> В ожидание </strong> 
            {% else %}
                {{ controlling.last_name }} {{ controlling.first_name.0 }}. - &nbsp;
            <div>
              <strong class='text-primary'> {{controlling.userprofile.user_in_working}} </strong> <!-- in working for users -->
              {% for time_execution in orders_detail.order_execution_user_time_by.all %}
                {% if time_execution.user == controlling %}
                  <div>
                  <strong>Ознакомлен(а): </strong>{{ time_execution.time_got_order }}
                  </div>
                {% endif %}  
              {% endfor %}
            </div>
            {% endif %}
        </div>
  </div>
  {% endif %}
 {% endfor %}
{% endif %}


  {% for controlling in orders_detail.controlling_disallow.all %}
      {% if not controlling|has_group:'BOSS' and not controlling|has_group:'CommercialDir' %}
          <div class="d-flex justify-content-between p-1 mb-1">
          <div> {{controlling.userprofile.user_position}}</div>
          <div class="d-flex justify-content-between">
            {{ controlling.last_name }} {{ controlling.first_name.0 }}. - &nbsp;
            <div>
            <strong class='text-primary'> {{controlling.userprofile.user_disaccept}} </strong> <!-- disaccept -->
              {% for time_execution in orders_detail.order_execution_user_time_by.all %}
                {% if time_execution.user == controlling %}
                  {% if time_execution.time %} {{ time_execution.time }} {% endif %}
                    <div>
                    <strong>Ознакомлен(а): </strong> {{ time_execution.time_got_order }}
                    </div>
                  {% endif %}  
                {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
  {% endfor %}

    {% for controlling in orders_detail.controlling_allow.all %} 
      {% if not controlling|has_group:'BOSS' and not controlling|has_group:'CommercialDir' %}
            <div class="d-flex justify-content-between p-1 mb-1">
            <div> {{controlling.userprofile.user_position}}</div>
            <div class="d-flex justify-content-between">
                {{ controlling.last_name }} {{ controlling.first_name.0 }}. - &nbsp;
              <div>
                <strong class='text-primary'> {{controlling.userprofile.user_accept}} </strong> <!-- accept for user -->
                {% for time_execution in orders_detail.order_execution_user_time_by.all %}
                  {% if time_execution.user == controlling %}
                    {% if time_execution.time %} {{ time_execution.time }} {% endif %}
                    <div>
                    <strong>Ознакомлен(а): </strong>{{ time_execution.time_got_order }}
                    </div>
                  {% endif %} 
                {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}

  <div class="pt-2 pl-1 pb- 2"><strong> Испольнитель: </strong></div> 
  <div class="pl-1 d-flex justify-content-between">
    <div>{{ orders_detail.created_by.userprofile.user_position}}</div> 
    <div>{{ orders_detail.display_created_by }}</div> 
  </div>
<!-- USER END -->
<!-- The controlling people-->